<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
    <title>Login</title>
    <body>
     <div class="navbar">
        <a href="/Home" id="homeLink" class="active">Home</a>
        <a href="/authorized" id="authorizedPersonnelLink">Authorized Personnel</a>
        <a href="/loging" id="loginLink">Login</a>
        <a href="/register" id="registerLink">Register</a>
        <a href="/Shelf" id="shelfLink">Shelf</a>
    </div>
</head>

<body>

    <div class="container">
        <h2 class="word">Login</h2>

        <form action="{{ url_for('loging') }}" method="post">
            <div class="message">{{ msg }}</div>

            <input class="textbox" type="text" name="username" placeholder="Enter Username" required>
            <input class="textbox" type="password" name="password" placeholder="Enter Password" required>
            <button class="btn" type="submit">Login</button>
        </form>

        <p class="bottom">Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
    </div>

</body>
</html>